// THESE STYLES ARE NOT INCLUDED IN THE FINAL BUNDLE

body {
  font-family: 'Courier New', Courier, monospace;
}

.utils {
  &-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 20px;
    border: 2px solid #d8bfd8;

  }

  &-colors {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &-color-item {
    border: 2px solid #D8BFD8;
    padding: 20px;

    &-white {
      background-color: var(--di-c-white);
      color: var(--di-c-black);
    }

    &-black {
      background-color: var(--di-c-black);
      color: var(--di-c-white);
    }
  }

}
